{% set govukRebrand = true %}
{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">Prototypes 
    </h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="beta-UR.html">Beta user research</a></li>
      <li><a class="govuk-link--no-visited-state" href="alpha-UR.html">Alpha user research</a></li>
       <li><a class="govuk-link--no-visited-state" href="phone-order/search/search-records">Phone ordering journey</a></li>
    </ul>
   
   


     <!-- updating LEO journey
   <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
        Most up to date prototype links    
      </h2> 

    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
       
        
        <p class="govuk-body">This will be the most up to date LEO journey</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Includes traige, get help flow, under 16s and baskets</li>
          <li>This will be updated with new confirmed designs from Beta</li>
        </ul>

        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/triage/start-page.html">Happy path (quoted route - selecting a record from results)</a> </p>
        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/get-help/leo-home/home-page-leo.html">Get help flow (non-quoted route - getting business to search)</a> </p>
        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/search/second-cert/2-home-page/home-page-leo.html">Selecting under 16s record</a> </p>
        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/triage/start-page.html">Ordering 2 certificates + with under 16s screens (quoted route)</a> </p>

        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/no-results-journey/no-results">No results on search page</a> </p>
        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/confirmation/email.html">Link to email (example of ordering 2 certificates)</a> </p>
        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/cookies.html">Cookies</a> </p>

        <hr style="opacity:35%;">
        <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
        <strong style="height:20px;" class="govuk-tag govuk-tag--red">Deaths</strong>
      </dl>
    </div>
  </div> -->





  </div>
</div>

{% endblock %}
