{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}


{% set navigationItems = [
   {
    href: "/beta/round7/account/my-account",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }]
  %} 

{% set homepageLink = "../email" %}


{% block pageTitle %}
  Order a certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Order a certificate" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="triage-question-1" method="post">


            <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Payment successful
  </h1>
  <div class="govuk-panel__body">
    Your order number<br><strong>HDJ234156789</strong>
  </div>
</div>

<p class="govuk-body">Thank you for your order.<p>
<p class="govuk-body">We'll take a payment of £25.</p>

<h2 class="govuk-heading-m">What happens next</h2>
<p class="govuk-body">The General Register Office has your order.</p> 
<p>We'll send a receipt and confirmation of your order to your email.</p> 

<br><br>
  <div class="container">
      <!-- <table class="govuk-table" role="table">
        <caption class="govuk-table__caption govuk-table__caption--m">Order summary</caption>
        <thead class="govuk-table__head" role="rowgroup">
          <tr class="govuk-table__row" role="row">
            <th class="govuk-table__header" role="columnheader" scope="col">Certificate type</th>
                  <th class="govuk-table__header" role="columnheader" scope="col">Number of items</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row" role="row">
            <td role="cell"><span class="responsive-table__heading" aria-hidden="true">Certificate type</span>Birth</td>
            <td role="cell"><span class="responsive-table__heading" aria-hidden="true">Number of certificates</span>2</td>
           
        
          </tr>     
       
        </tbody>
      </table> -->
    </div>

 <!-- <br><br>
 
       <p><b>Certificate total:</b> 5<br>
        <b>Total cost:</b> £62.50</p> 

    <br> -->
<h2 class="govuk-heading-m">Order more certificates</h2>
    <button a href="../triage/triage-question-1" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Search again
</button>
    </form>
  </div>
</div>



{% endblock %}
